<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tentang Saya
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>About me</ion-card-subtitle>
      <ion-card-title>My Profile</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Richard Hans Krisnajana</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label>Siwalankerto VIII AB-11 Surabaya</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="school-outline" slot="start"></ion-icon>
      <ion-label>Petra Christian University</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="star-outline" slot="start"></ion-icon>
      <ion-label>Pemrograman Aplikasi Mobile Berbasis Web</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Guess the number... (1-10)</ion-card-title>
    </ion-card-header>
    <ion-item>  
      <ion-label position="floating">Input Number</ion-label>
      <ion-input [(ngModel)]="answer"></ion-input> 
    </ion-item>
    <ion-button expand="block" (click)="checkNumber()">Guess</ion-button>
  </ion-card>
  

  <ion-grid *ngIf="check">
    <ion-row>
      <ion-col size="6" *ngFor="let isiFoto of fotoService.dataFoto; index as position">
        <ion-img [src]="isiFoto.webViewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
